body {
	background-color: #638a79;
	background-image: url("img/body-bg.png");
	background-repeat: repeat-x;
	background-attachment: fixed;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	font-family: Arial;
}

.content {
	width: 840px;
	background-color: #fff;
	margin: 100px auto 0;
}
.content .content-top {
	height: 12px;
	background-image: url("img/content-bg.png");
	background-position: 0px 0px;
}
.content .content-bottom {
	height: 12px;
	background-image: url("img/content-bg.png");
	background-position: -840px -840px;
}
.content .content-middle {
	padding: 20px 30px;
}

h1 {
	font-size: 26px;
	line-height: 36px;
	color: #2b8c57;
	font-weight: normal;
	margin-bottom: 10px;
}
h2 { 
	font-size: 18px;
	line-height: 28px;
	color: #2b8c57;
	font-weight: normal;
	font-style: italic;
	margin-top: 30px;
	margin-bottom: 15px;
}

div.block-1 {
	color: #fff;
	font-style: italic;
	font-size: 12px;
	background-image: url("img/block-1-bg.png");
	background-repeat: repeat-x;
	background-color: #2b8c57;
	padding: 20px 30px;
}
div.block-2 {
	background-color: #356149;
	background-image: url("img/picture-1.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	color: #fff;
	font-style: italic;
	font-size: 12px;
	padding: 20px 30px;
}

a.button {
	background-image: url("img/button-1.png");
	background-position: 0px 0px;
	display:block;
	width: 121px;
	height: 38px;
	text-decoration: none;
}
a.button:hover {
	background-position: 0px -38px;
}
a.button:active {
	background-position: 0px -76px;
}
