body {
	background-color: #b8b8b8;
	font-size: 13px;
	line-height: 18px;
	color: #333;
}
#content {
	width: 800px;
	padding: 20px 30px 20px 30px;
	background-color: #fff;
	margin: 0 auto;
}
h1 {
	font-size: 26px;
	line-height: 30px;
	color: #333;
	font-weight: normal;
	margin: 20px 0px 10px 0px;
}
h2 {
	font-size: 36px;
	line-height: 46px;
	color: #333;
	font-weight: normal;
	font-style: italic;
	margin: 40px 0px 20px 0px;
}
.fixed {
	position: fixed;
	top: 20px;
	right: 0px;
	width: 200px;
	padding: 20px 20px 20px 20px;
	font-style: italic;
	background-color: #666;
	color: #fff;
}
#puzzle {
	background: url(img/v1/v1-watercolor.jpg) no-repeat 0 0;
	position: relative;
	width: 550px;
	height: 411px;
	border: 5px solid #333;
	margin: 0 auto;
}
#puzzle img {
	position: absolute;
	z-index: 0;
}
#puzzle #img1{top:0px;left:0px}
#puzzle #img2{top:0px;left:107px}
#puzzle #img3{top:0px;left:183px}
#puzzle #img4{top:0px;left:336px}
#puzzle #img5{top:0px;left:406px}
#puzzle #img6{top:67px;left:0px}
#puzzle #img7{top:97px;left:78px}
#puzzle #img8{top:73px;left:213px}
#puzzle #img9{top:108px;left:300px}
#puzzle #img10{top:74px;left:437px}
#puzzle #img11{top:207px;left:0px}
#puzzle #img12{top:173px;left:108px}
#puzzle #img13{top:203px;left:184px}
#puzzle #img14{top:171px;left:328px}
#puzzle #img15{top:205px;left:405px}
#puzzle #img16{top:273px;left:0px}
#puzzle #img17{top:304px;left:77px}
#puzzle #img18{top:281px;left:216px}
#puzzle #img19{top:312px;left:293px}
#puzzle #img20{top:276px;left:442px}